<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= image_tag 'whoopsface.png' %>
      <p class="whoops">Whoops. This is embarrasing!</p>
      <p>InsureMe is a concept we're just testing at the moment. Please check back soon.</p>
    </div>
  </div>
</div>