<form class="form-inline">
  <p>
    My name is
    <input type="text" class="form-control" placeholder="first name">
    <input type="text" class="form-control" placeholder="surname">
    ...
  </p>
</form>
