<div class="jumbotron">
  <h1>Insure Me</h1>
  <p>The most personal way to be fully insured</p>
  <a class="btn btn-lg btn-primary" href="/auth/facebook" role="button">Login with Facebook &gt;&gt;  </a>
</div>