<div class="jumbotron">
  <h1>Insure Me</h1>
  <p>The most personal way to be fully insured</p>
  <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), class: ['btn','btn-lg','btn-primary'] %>
</div>