@import "bootstrap-sprockets";
@import "bootstrap";
@import "home_page";
@import "profile_page";

body {
  min-height: 2000px;
  padding-top: 70px;
}

.imagebg {
  color: white;

  div.jumbotron {
    background: none;
    text-align: center;
  }

  .low-profile {
    input[type='text'],input[type='email'],input[type='password'] {
      background: none;
      border: none;
      box-shadow: none;
      border-radius: 0;
      border-bottom: 1px solid white;
      color: white;
      &::-webkit-input-placeholder { color: #DDD; }
      &::-moz-placeholder { color: #DDD; } /* firefox 19+ */
      &:-ms-input-placeholder { color: #DDD; } /* ie */
      &:-moz-placeholder { color: #DDD; }
    }
    text-align: center;

    font-size: 36pt;
    input {
      font-size: 36pt;
      height: 60px;
      width: auto;
      padding: 0px;
      padding-bottom: 5px;
      margin-top: -15pt;
    }
  }

  .navbar { 
    background: none;
    border: none;
    a {
      color: white !important;  
    }
    a:hover {
      color: white !important;
      text-decoration: underline;
    }
    li.active > a {
      background-color: #428bca;
      color: white !important;
    }
  }
}