body.controller_profiles.action_show {

  .imagebg#top-level {
    background-image: image-url('profilebg.jpg');
    margin-top: -70px;
    padding-top: 70px;
  }

  .imagebg#motor {
    background-color: red;
    border-radius: none;
  }

  .imagebg {
    background-attachment: fixed;
    background-size: cover;
  }

  img.profile-image {
    border: 1px solid white;
    margin: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
  }

  .panel-heading {
    height: 80px;
    padding-bottom: 0px;
    padding-top: 0px;
    h1 { line-height: 80px; font-size: 32px; }
  }
}